<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"

	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Spring 3.0 adds support for JSR-330 (Dependency Injection for Java) 
		annotations contained in the javax.inject package such as @Inject, @Qualifier, 
		@Named, and @Provider if the JSR330 jar is present on the classpath. Use 
		of these annotations also requires that certain BeanPostProcessors be registered 
		within the Spring container. -->
	<context:annotation-config />

	<!-- http://static.springsource.org/spring/docs/3.0.x/spring-framework-reference/html/mvc.html#mvc-servlet -->
	<context:component-scan base-package="com.foo.server" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean" />
		
	<!-- Manejo de transacciones -->
	<!-- http://static.springsource.org/spring/docs/3.0.x/reference/transaction.html -->
	<bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />

</beans>